*{
    margin : 0px;
    padding : 0px;
}

ul{
    list-style: none; /*리스트 앞에 있는 . 제거*/
}

a{
    text-decoration : none; /*링크 하단에 있는 밑줄 제거*/
}

#logo{
    position : absolute;
    top : 20px;
    left : 30px;
}

#imglogo{
    width : 192px;
    height : 50px;
}

header{
    width : 800px; /*메인 이미지의 너비 사이즈*/
    height: 95px;
    background-color: #2d3a4b;
    position : relative;
    /*header 내부 요소들을 모두 absolute position으로 배치 예정*/
    /*absolute 요소가 header의 좌상단을 기준으로 하기 위해서는 relative여야한다.*/
}

#top_menu{
    position : absolute;
    top : 20px;
    right : 10px;
    color : white;
}

#top_menu a{
    color : white;
}

nav{
    position : absolute;
    bottom:10px;
    left:220px;
    font-size:16px;
}

nav li {
    display: inline;
    margin-left : 30px;
}

nav li a {
    color : white;
}

#content li {
    display: inline;
}

nav li a:hover{
    background-color: white;
    color: black;
}
 
#content #main img{ width: 100%; border: 1px solid gray;}
 
#content #banner li{
    border-bottom: 1px solid gray;
}
#content #banner li a{
    display: block;
    text-align: center;
}
 
footer{padding: 0px 10px;}
footer img{width: 100%;}